# list in dictionary

In [23]:
list_of_class={"student":["pooran", "arun","sohiab"], "marks":[92,94,94]}

In [24]:
list_of_class
import pandas as pd
pd.DataFrame(list_of_class)

  student  marks
0  pooran     92
1    arun     94
2  sohiab     94

In [3]:
list_of_class["student"]

['pooran', 'arun', 'sohiab']

In [4]:
list_of_class['marks']

[92, 94, 94]

In [5]:
list_of_class['student'][2]

'sohiab'

In [6]:
list_of_class['marks'][2]

94

In [ ]:
list_of_class['marks'][2]

In [7]:
list_of_class['marks'][-2:2]

[94]

# dictionary in list

In [9]:
list_of_class=[{"student":["pooran", "arun","sohiab"]},{ "marks":[92,94,94]}]

In [10]:
list_of_class

[{'student': ['pooran', 'arun', 'sohiab']}, {'marks': [92, 94, 94]}]

In [11]:
list_of_class[0]["student"][2]

'sohiab'

# dictionar in dictionary

In [12]:
dict_in_dic={
    'dict1':{"profit":[23,45,6,7]},
    'dict2':{"cost":[230,34,56,67]}
}

In [18]:
dict_in_dic

AttributeError: module 'pandas' has no attribute 'DataFram'

In [20]:
import pandas as pd

In [22]:
import pandas as pd
pd.DataFrame(dict_in_dic)

                 dict1              dict2
profit  [23, 45, 6, 7]                NaN
cost               NaN  [230, 34, 56, 67]

In [16]:
dict_in_dic['dict1']

{'profit': [23, 45, 6, 7]}

In [17]:
dict_in_dic['dict1']['profit'][1:3]

[45, 6]

In [25]:
print(type(1/2))

<class 'float'>

In [26]:
lan=["python"]
print(lan[-6:5])

['python']