In [1]:
#golabel varible 
#local varibal

SyntaxError: invalid syntax (Temp/ipykernel_6484/440345521.py, line 1)

In [2]:
def square(num):
    #local virible
    sqr=num*num
    
    #globle varible
    global name
    name="syalani"

In [3]:
print(sqr)

NameError: name 'sqr' is not defined

In [6]:
print(name)

NameError: name 'name' is not defined

In [ ]:
#return anpe sath leja sakh ta hn (function se value ko bhar nikla ne ke lia)

In [7]:
def sqr(num):
    Sqr=num*num
    return Sqr
    #return num*num

In [8]:
sqr(10)

100

In [9]:
#varible me stor kera de 
ans=sqr(10)

In [10]:
ans

100

In [ ]:
#Ek block ka bana ye hn aus me ek rturn ho ga

In [11]:
#return  num**2,"hlee0" ek ze zada value ahhn ge to vo tuple ke form me ahh ge

In [12]:
def add(num_1,num_2):
    return num_1+num_2

In [13]:
print(add(3,5))

8

In [14]:
def simple(num):
    sqr=num*num
    global name
    name="syalni"

In [15]:
# sentace error aah ga 
#function ke body me varible ko ager define kerna ho to him first functions call ker wa na ho ga 
print(name)

NameError: name 'name' is not defined

In [16]:
simple(10)

In [17]:
print(name)

syalni

In [27]:
a=[]
def append(num, rang):

    for i  in range(rang):
        a.append(num)

In [28]:
append(2,5)

In [29]:
a

[2, 2, 2, 2, 2]

In [30]:
def sub(v1,v2):
    ans=v2-v1
    print(ans)

In [31]:
print(sub(20,10))

-10
None

In [32]:
def sub(v1,v2):
    ans=v2-v1
    return

In [33]:
print(sub(220,34))

None

In [44]:
a=[]
def append_prime_num(num,rang):
    for i in range(rang):
        for n in range(2,num):
            if num%n==0:
                a.append(n)

In [45]:
append_prime_num(10,5)

In [46]:
a

[2, 5, 2, 5, 2, 5, 2, 5, 2, 5]

# positional parameters and arguments

In [50]:
def complate_name(first_number,last_name):
    full_name=first_number+ " "+last_name
    return full_name

In [51]:
print(complate_name("pooran", 'parshant'))

pooran parshant

# defualt permater

In [52]:
def cub(num=4):
    a=num**3
    return a

In [53]:
cub()

64

In [54]:
def complate_name(first_number,last_name):
    full_name=first_number+ " "+last_name
    return full_name

In [57]:
#example
print("pooran", 'parshant',sep='\n')

pooran
parshant

In [58]:
print("{:,}".format(111223334))

111,223,334

In [59]:
def max_list(num):
    a=max(num)
    return a

In [60]:
max_list([1,3,54,3,3,2,2])

54

In [68]:
def max_list(num_1):
    a=max(num_1)
    b=min(num_1)
    return f"max_number: {a}, min_num: {b}"

In [69]:
max_list([123,345,56,7,6])

'max_number: 345, min_num: 6'

In [70]:
def do_squar(arr):
    return[ a**2 for a in arr]

In [73]:
do_squar([2,34,55,67])

[4, 1156, 3025, 4489]

In [74]:
def threesquar(arr):
    return[a**2 if a<10 else a for a in arr]

In [75]:
threesquar([12,4,5,6,6])

[12, 16, 25, 36, 36]

In [ ]:
def name_length():
    return []

In [ ]:
name_length(['pooran','pooran parshant'])